<!DOCTYPE html>
<html lang="en" ng-app="myApp">

    <head>
        <meta charset="UTF-8">
        <title>Angular Message Board</title>

        <link rel="stylesheet" href="/vendors/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/styles/style.css">

        <script type="text/javascript" src="/vendors/angular.min.js"></script>
        <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    </head>

    <body>
        <div class="container" ng-controller="WelcomeController">
            <h1 class="lead">Please add your comment</h1>
            <input ng-model="note.name" type="text" id="nameAdd"  placeholder="Enter Your Name">
            <textarea ng-model="note.comment" type="text" id="commentAdd"  placeholder="Enter Your Comment" rows="10" cols="60"></textarea>
            <button ng-click="clickButton(note)" class="btn btn-info">Submit</button>
            <div ng-repeat="people in nameArray">
                <div class="col-md-3 well" id="messages">
                    <p class="lead">{{people.name}}</p>
                    <p class="com">{{people.comment}}</p>
                    <!--<button ng-click="deleteButton(people)" class="btn btn-danger">Delete</button>-->
                </div>
            </div>
        </div>
    </body>
</html>